.main {
  max-width: 880px;
  margin: 0 auto;
  background-color: #000000;
}

@media screen and (max-width: 914px) {
  .main {
    width: 600px;
  }
}

@media screen and (max-width: 620px) {
  .main {
    width: 282px;
  }
}