.popup__form-save {
  width: 358px;
  height: 46px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  padding: 0;
  border-width: 0;
  cursor: pointer;
  margin-top: 18px;
}

.popup__form-save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 620px) {
  .popup__form-save {
    width: 238px;
  }
}