.elements__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-gap: 17px;
}

@media screen and (max-width: 914px) {
  .elements__list {
    justify-items: center;
  }
}